/* resulting css */
html {
  font-family: sans-serif;
}

.background {
  position: absolute 0 0;
  width: 100vw;
  min-height: 300px;
  height: 70vh;
  filter: contrast(100%) brightness(100%);
  background: radial-gradient(
      circle at 0% 0%,
      rgba(13, 0, 134, 0.88),
      rgba(139, 81, 214, 0.7),
      rgba(252, 212, 82, 0.4)
    ),
    url(noise.svg);
  display: block;
}

h1 {
  font-size: 4em;
  font-style: italic;
  color: white;
}

.butter {
  color: rgb(255, 241, 159) !important;
}

.white {
  color: white;
}

.content {
  margin-top: 100px;
  height: 300px;
}

.container {
  /* border: 1px solid rgb(207, 207, 207); */
  border-radius: 10px;
}

.titlebox {
}
