.limit-y {
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.pic-col {
  min-width: 100px;
}

/* .modal-open .container-fluid,
.modal-open .container,
.modal-open .row {
  -webkit-filter: blur(2px) grayscale(50%);
} */

.limit-x-search {
  min-width: 400px;
}
