/* resulting css */
html {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.blurry {
  filter: blur(5px);
  position: absolute;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  min-height: 400px;
  height: 60vh;
  z-index: -1;
  left: -5px;
  top: -5px;
  transform: scale(1.1);
}

.background-blurry {
  overflow: hidden;
  z-index: 1;
  position: relative 0 0;
  width: 100vw;
  min-height: 400px;
  height: 60vh;
}

.background {
  position: absolute 0 0;
  width: 100vw;
  min-height: 400px;
  height: 60vh;
  filter: contrast(150%) brightness(100%);
  background: radial-gradient(
      circle at 0% 0%,
      rgba(12, 6, 68, 0.9),
      rgba(13, 0, 134, 0.7),
      rgba(112, 34, 184, 0.4),
      rgba(226, 120, 59, 0.3)
    ),
    url(noise.svg);

  /* background: linear-gradient(231deg, #5d157a, #3420af, #efe844), url(noise.svg);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 8s ease infinite;
  -moz-animation: AnimationName 8s ease infinite;
  animation: AnimationName 8s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  } */
}

.hero {
  height: 80%;
}

.title {
  font-size: 6em;
  font-style: italic;
  color: white;
  /* font-family: "Abril Fatface", sans-serif; */
}

.butter {
  color: rgb(255, 241, 159) !important;
}

.white {
  color: white;
}

.content {
  margin-top: 100px;
  height: 300px;
}

div {
  /* border: 1px solid rgb(207, 207, 207); */
  /* border-radius: 10px; */
}

.big-icon {
  font-size: 4em;
  padding: 0;
}

h2 {
  margin: 20px auto;
}
